<div class="zcc-widget-container <%= status %> <% if (receiving) { %> receiving <% } %>">
    <div class="zcc-line zcc-border-bottom">
        <div class="zcc-cell">
            <div class="zcc-header-container zcc-js">
                <%- include header %>
                <%- include loader %>
            </div>
            <div class="zcc-status-container zcc-js">
                <%- include status %>
            </div>
        </div>
    </div>
    <div class="zcc-line" <%= status %>>
        <div class="zcc-info-container zcc-cell zcc-js">
            <%- include info %>
        </div>
        <div class="zcc-buttons-container zcc-cell zcc-js">
            <%- include buttons %>
        </div>
    </div>
</div>
